@import '../../config';

$blockName: 'search-results';

.#{$blockName} {
	@include grid-base();

	&__result-list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__result-list-item {
		@include xy-cell(4);
	}
}