@import '../../config';

$blockName: 'search-results';

.#{$blockName} {
	width: 100%;

	&__result-list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__result-list-item {
		width: (100% / 4);
	}

	&__result-empty{
		text-align: center;
		font-size: 3rem;
	}
}