@import '../../config';

$blockName: 'search-results';

.#{$blockName} {
	@include grid-flex();

	&__result-list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__result-list-item {
		@include xy-cell(4);
	}

	&__result-empty{
		text-align: center;
		font-size: 3rem;
	}
}