@import '../../config';

$blockName: 'loader';

.#{$blockName} {
	margin: 0 auto;
	transform: scale(0.5);
	max-width: 100%;

	&__spin {
		animation: loader-logo-spin infinite 20s linear;
		max-width: 100%;
		min-width: 200px;
		min-height: 200px;
	}

	@keyframes loader-logo-spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}
