@import '../../config';

$blockName: 'app';

body, html {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.#{$blockName} {
	@include grid-base();
	@include ReactCssTransitionGroup();

	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
	flex-direction: column;

	&__header {
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
	}

	&__main {
		background: #fff;
		width: 100%;
		flex-grow: 1;
		display: flex;
	}

	&__footer {
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
	}

	&__footer-title {
		padding: 15px 0;
		color: $color-red;
	}

	&__header-title {
		@include xy-grid($wrap: false);

		padding: 15px 0;
		width: 100%;
		color: $color-red;
		margin-bottom: 20px;
		justify-content: space-between;
	}

	&__search-by {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 20px;
	}

	&__search-area {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}

	&__search-area-title {
		font-size: 1.5rem;
		width: 100%;
	}

	&__search-area-field {
		width: 100%;
	}

	&__search-area-title,
	&__search-by-title {
		text-transform: uppercase;
		color: #ffffff;
	}

	&__search-by-btn {
		margin: 0 0 0 10px;
	}

	&__search-run {
		flex-grow: 1;
		display: flex;
		flex-direction: row-reverse;
	}
}
