$color-red: #e50914;
$color-gray: #999;

@mixin btn() {
	color: #fff;
	background: $color-gray;
	border: 1px $color-gray solid;
	transition: 0.5s;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		border-color: $color-red;
		background-color: $color-red;
		transition: 0.5s;
	}

	&--status {
		&_active {
			border-color: $color-red;
			color: #fff;
			background: $color-red;
			&:hover {
				background: $color-gray;
				border-color: $color-gray;
				color: #fff;
			}
		}
	}
}

@mixin col($i:12,$col-count:12) {
	width: (100% * $i) /$col-count;
}

@mixin grid-flex($col-count: 12) {
	width: 100%;

	&__container {
		max-width: 1200px;
		min-width: 320px;
		width: 100%;
		margin: 0 auto;
	}

	&__row {
		width: auto;
		margin: 0 10px;
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		width: 100%;
	}

	@for $i from 1 through $col-count {
		&__col-#{$i} {
			@include col($i, $col-count);
		}
	}
}

@mixin ReactCssTransitionGroup($transitionName:'page') {
	.#{$transitionName}-enter {
		opacity: 0.01;

		&.#{$transitionName}-enter-active {
			opacity: 1;
			transition: opacity 1s ease-in;
		}
	}

	.#{$transitionName}-leave {
		opacity: 1;

		&.#{$transitionName}-leave-active {
			opacity: 0.01;
			transition: opacity 0.5s ease-in;
		}
	}

}